# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_BT
	bool "Realtek Bee MCU bluetooth driver"
	default n

	help
	  This option enables the bluetooth driver for Realtek Bee family of
	  processors.
