# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_NVIC
	bool "Realtek Bee MCU nvic driver"
	default n

	help
	  This option enables the nvic driver for Realtek Bee MCU.
