# Copyright (c) 2026, Realtek Semiconductor Corporation
# SPDX-License-Identifier: Apache-2.0

config REALTEK_BEE_TIM
	bool "Realtek Bee MCU tim driver"
	default n

	select REALTEK_BEE_RCC
	select REALTEK_BEE_PINMUX
	select REALTEK_BEE_NVIC

	help
	  This option enables the tim driver for Realtek Bee MCU.

config REALTEK_BEE_ENHTIM
	bool "Realtek Bee MCU enhtim driver"
	default n

	select REALTEK_BEE_RCC
	select REALTEK_BEE_PINMUX
	select REALTEK_BEE_NVIC

	help
	  This option enables the enhtim driver for Realtek Bee MCU.
